#c {
    border: rgb(177, 47, 47) solid;
}

#drawing-mode, #drawing-mode-options {
    display: none;
}


 /* Containers */
.outer {
    display: flex;
    /* min-height: 100px; */
    height: 100%;
}

.inner {
    flex-grow: 1;
    padding: 10px;
}

#inner-1 {
    background-color: red;
}

#inner-2 {
    background-color: rgb(72, 0, 255);
}

#inner-3 {
    background-color: rgb(0, 255, 72);
}